In [1]:
%matplotlib inline
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
cast = pd.read_csv('cast.csv')
cast.head()

,title,year,name,type,character,n
0,Closet Monster,2015.0,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985.0,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017.0,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015.0,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015.0,$hutter,actor,1988 Opera House Patron,NaN

In [4]:
title = pd.read_csv("titles.csv")

In [5]:
title.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [6]:
title.tail()

                                       title  year
230616                 Nobody Waved Good-bye  1964
230617                                 E yue  2005
230618                          Lakota Girls  2015
230619                        Kroniki domowe  1997
230620  Death in the Valley of Good and Evil  2018

### How many movies are listed in the titles dataframe?

In [7]:
movies_count = title['title'].count()

In [8]:
print("Number of movues listed is: ", movies_count)

Number of movues listed is:  230621

### What are the earliest two films listed in the titles dataframe?

In [9]:
earliest_movies = title.sort_values(['year'])

In [10]:
print ("Earliest two movies are: ")
earliest_movies.head(2)

Earliest two movies are:

                     title  year
176477          Miss Jerry  1894
213694  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [11]:
hamlet_count = title[title['title'] == 'Hamlet'].shape[0]

In [12]:
print(f'The number of movies with the title "Hamlet" is: {hamlet_count}')

The number of movies with the title "Hamlet" is: 18

### How many movies are titled "North by Northwest"?

In [13]:
north_by_northwest = title[title ['title'] == "North by Northwest"].shape[0]

In [14]:
print (f'The number of movies is: ',north_by_northwest)

The number of movies is:  1

### When was the first movie titled "Hamlet" made?

In [15]:
first_hamlet = title[title ['title'] == "Hamlet"]['year'].min()

In [16]:
print ("The year in which first Hamlet was released was:", first_hamlet)

The year in which first Hamlet was released was: 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [17]:
treasure_island = title [title ['title'] == "Treasure Island"].sort_values(['year'])

In [18]:
treasure_island

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

### How many movies were made in the year 1950?

In [19]:
movies_1950 = title[title ['year'] == 1950].shape[0]

In [20]:
print("The number of movies made in 1950 were: ", movies_1950)

The number of movies made in 1950 were:  1093

### How many movies were made in the year 1960?

In [21]:
movies_1960 = title [title ['year'] == 1960].shape[0]

In [22]:
print("The number of movies made in 1960 were: ", movies_1960)

The number of movies made in 1960 were:  1496

### How many movies were made from 1950 through 1959?

In [23]:
movies = title [title ['year'].between(1950, 1959, inclusive=True)].shape[0]

In [24]:
print("The number of movies were made through 1950 to 1959 were:", movies)

The number of movies were made through 1950 to 1959 were: 12656

### In what years has a movie titled "Batman" been released?

In [25]:
batman = title [title ['title'] == "Batman"].sort_values(['year'])

In [26]:
batman

        title  year
74047  Batman  1943
55577  Batman  1989

### How many roles were there in the movie "Inception"?

In [27]:
inception_role = cast[cast['title'] == "Inception"]['character'].count()

In [28]:
print ("The number of roles in the movie were:", inception_role)

The number of roles in the movie were: 52

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [29]:
inception_role_2 = cast[cast['title'] == "Inception"]["n"]

In [30]:
print ("The roles that are not ranked by n values was:", inception_role_2.isna().sum())

The roles that are not ranked by n values was: 21

### But how many roles in the movie "Inception" did receive an "n" value?

In [31]:
inception_role_3 = cast[cast['title'] == "Inception"]["n"]

In [32]:
print ("The roles that are not ranked by nn values was:", inception_role_3.notna().sum())

The roles that are not ranked by nn values was: 31

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [33]:
north_by_northwest = cast[cast['title'] == "North by Northwest"]

In [34]:
north_by_northwest.sort_values(["n"], ascending = False).dropna()

,title,year,name,type,character,n
1334726,North by Northwest,1959.0,Ken Lynch,actor,Charley - Chicago Policeman,16.0
198496,North by Northwest,1959.0,Edward Binns,actor,Captain Junket,15.0
1454363,North by Northwest,1959.0,Patrick McVey,actor,Sergeant Flamm,14.0
447893,North by Northwest,1959.0,Philip Coolidge,actor,Dr. Cross,13.0
642085,North by Northwest,1959.0,Robert Ellenstein,actor,Licht,11.0
1746383,North by Northwest,1959.0,Edward Platt,actor,Victor Larrabee,10.0
1229083,North by Northwest,1959.0,Martin Landau,actor,Leonard,8.0
1634552,North by Northwest,1959.0,Philip Ober,actor,Lester Townsend,7.0
343701,North by Northwest,1959.0,Leo G. Carroll,actor,The Professor,5.0
1404704,North by Northwest,1959.0,James Mason,actor,Phillip Vandamm,3.0
840374,North by Northwest,1959.0,Cary Grant,actor,Roger O. Thornhill,1.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [35]:
seluth = cast[(cast['title'] == "Sleuth") & (cast["year"] == 1972)]

In [36]:
seluth.sort_values(["n"])

,title,year,name,type,character,n
1644328,Sleuth,1972.0,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972.0,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972.0,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972.0,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1396572,Sleuth,1972.0,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [37]:
Sleuth_2007 = cast[(cast["title"] == "Sleuth") & (cast["year"] == 2007)]

In [38]:
Sleuth_2007.sort_values(["n"])

          title    year                 name   type          character    n
314692   Sleuth  2007.0        Michael Caine  actor             Andrew  1.0
1246855  Sleuth  2007.0             Jude Law  actor               Milo  2.0
1741124  Sleuth  2007.0        Harold Pinter  actor        Man on T.V.  3.0
250297   Sleuth  2007.0      Kenneth Branagh  actor  Other Man on T.V.  NaN
360366   Sleuth  2007.0  Alec (II) Cawthorne  actor  Inspector Doppler  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [39]:
hamlet_1921 = cast[(cast["title"] == "Hamlet") & (cast["year"] == 1921)]
hamlet_1921

          title    year              name   type     character    n
7438     Hamlet  1921.0  Fritz Achterberg  actor   Fortinbras,  9.0
442224   Hamlet  1921.0      Paul Conradi  actor  K?nig Hamlet  2.0
535307   Hamlet  1921.0  Anton De Verdier  actor       Laertes  7.0
1095274  Hamlet  1921.0   Hans Junkermann  actor      Polonius  6.0
2106367  Hamlet  1921.0      Heinz Stieda  actor       Horatio  5.0

In [40]:
print("The Number of roles were credited was: ", hamlet_1921.shape[0])

The Number of roles were credited was:  5

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [41]:
hamlet_1996 = cast[(cast["title"] == "Hamlet") & (cast["year"] == 1996)]
hamlet_1996

,title,year,name,type,character,n
1615,Hamlet,1996.0,Riz Abbasi,actor,Attendant to Claudius,1.0
92106,Hamlet,1996.0,Richard Attenborough,actor,English Ambassador,2.0
152349,Hamlet,1996.0,Simon Russell Beale,actor,Second Gravedigger,37.0
206181,Hamlet,1996.0,David (V) Blair,actor,Attendant to Claudius,3.0
211111,Hamlet,1996.0,Brian Blessed,actor,Ghost of Hamlet's Father,4.0
241315,Hamlet,1996.0,Christopher Bowles,actor,Cadet in Play,NaN
250281,Hamlet,1996.0,Kenneth Branagh,actor,Hamlet,5.0
262368,Hamlet,1996.0,Richard Briers,actor,Polonius,6.0
283598,Hamlet,1996.0,Michael Bryant,actor,Priest,7.0
307699,Hamlet,1996.0,Peter Bygott,actor,Attendant to Claudius,8.0
331657,Hamlet,1996.0,Kenneth W Caravan,actor,Laertes Mob,NaN
482982,Hamlet,1996.0,Billy Crystal,actor,First Gravedigger,10.0
500005,Hamlet,1996.0,Charles Daish,actor,Stage Manager,11.0
555725,Hamlet,1996.0,G?rard Depardieu,actor,Reynaldo,13.0
577284,Hamlet,1996.0,Reece Dinsdale,actor,Guildenstern,14.0
582748,Hamlet,1996.0,Ken Dodd,actor,Yorick,15.0
633587,Hamlet,1996.0,Rob Edwards,actor,Lucianus,17.0
645509,Hamlet,1996.0,Jimmy Ellis,actor,Old Fortinbras,NaN
679290,Hamlet,1996.0,Nicholas Farrell,actor,Horatio,18.0
683298,Hamlet,1996.0,Ray Fearon,actor,Francisco,19.0
797642,Hamlet,1996.0,John Gielgud,actor,Priam,21.0
955936,Hamlet,1996.0,Charlton Heston,actor,Player King,23.0
1037016,Hamlet,1996.0,Ravil Isyanov,actor,Cornelius,24.0
1044207,Hamlet,1996.0,Derek Jacobi,actor,Claudius,25.0
1167241,Hamlet,1996.0,Jeffery Kissoon,actor,Fortinbras's Captain,27.0
1269051,Hamlet,1996.0,Jack Lemmon,actor,Marcellus,29.0
1350198,Hamlet,1996.0,Anthony Maddalena,actor,Elsinore Courtier,NaN
1366209,Hamlet,1996.0,Michael Maloney,actor,Laertes,31.0
1435643,Hamlet,1996.0,Ian McElhinney,actor,Barnardo,30.0
1493790,Hamlet,1996.0,John Mills,actor,Old Norway,33.0
1500413,Hamlet,1996.0,Jimi Mistry,actor,Sailor Two,34.0
1531589,Hamlet,1996.0,Frank (II) Morgan,actor,Pyrrhus,NaN
1966605,Hamlet,1996.0,Andrew Schofield,actor,Young Lord,38.0
1978967,Hamlet,1996.0,Orlando Seale,actor,Boatman,NaN
1993152,Hamlet,1996.0,Rufus Sewell,actor,Fortinbras,39.0
2073370,Hamlet,1996.0,Timothy Spall,actor,Rosencrantz,40.0
2076719,Hamlet,1996.0,John Spencer-Churchill,actor,Fortinbras's Captain,32.0
2141264,Hamlet,1996.0,Thomas Szekeres,actor,Young Hamlet,41.0

In [42]:
print("The Number of roles were credited was: ", hamlet_1996.shape[0])

The Number of roles were credited was:  38

### How many "Hamlet" roles have been listed in all film credits through history?

In [43]:
hamlet_total = cast[cast["title"] == "Hamlet"]
hamlet_total

          title    year              name   type              character     n
1615     Hamlet  1996.0        Riz Abbasi  actor  Attendant to Claudius   1.0
7438     Hamlet  1921.0  Fritz Achterberg  actor            Fortinbras,   9.0
11242    Hamlet  2009.0      Hayden Adams  actor                Laertes   7.0
11243    Hamlet  2009.0      Hayden Adams  actor                 Player   7.0
13907    Hamlet  1913.0       Eric Adeney  actor               Reynaldo  14.0
...         ...     ...               ...    ...                    ...   ...
2113683  Hamlet  2015.0         Ben Stott  actor           Player Queen  12.0
2133184  Hamlet  2011.0   Haig Sutherland  actor                Laertes   NaN
2139408  Hamlet  1948.0      Basil Sydney  actor    Claudius - The King  11.0
2141264  Hamlet  1996.0   Thomas Szekeres  actor           Young Hamlet  41.0
2157738  Hamlet  1948.0       Tony Tarver  actor           Player Queen   7.0

[218 rows x 6 columns]

In [44]:
print ("The number of roles have been listed is: ", hamlet_total.shape[0])

The number of roles have been listed is:  218

### How many people have played an "Ophelia"?

In [45]:
Ophella = cast [cast['character'] == "Ophelia"].shape[0]

In [46]:
print ("The number of people played an Ophelia is: ", Ophella)

The number of people played an Ophelia is:  7

### How many people have played a role called "The Dude"?

In [47]:
the_dude = cast [cast['character'] == "The Dude"].shape[0]

In [48]:
print ("The number of people who have played the role is:", the_dude)

The number of people who have played the role is: 16

### How many people have played a role called "The Stranger"?

In [49]:
the_stranger = cast [cast['character'] == "The Stranger"].shape[0]

In [50]:
print ("The number of people who have played the role is:", the_stranger)

The number of people who have played the role is: 184

### How many roles has Sidney Poitier played throughout his career?

In [51]:
Poitier = cast[cast['name'] == "Sidney Poitier"].shape[0]

In [52]:
print ("The number of roles played by Sidney poiter is: ", Poitier)

The number of roles played by Sidney poiter is:  43

### How many roles has Judi Dench played?

In [53]:
Dench = cast[cast['name'] == "Judi Dench"].shape[0]

In [54]:
print ("The number of roles played by Sidney poiter is: ", Dench)

The number of roles played by Sidney poiter is:  0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [55]:
number = cast [(cast['name'] == "Cary Grant") & (cast["n"] == 2.0) & (cast['year'].between (1940, 1949, inclusive = True))]

In [56]:
number.sort_values(['year'])

                   title    year        name   type    character    n
840371  My Favorite Wife  1940.0  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941.0  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [57]:
List = cast[(cast['name'] == 'Cary Grant') * (cast['year'].between (1940, 1949, inclusive = True))]

In [58]:
List.sort_values(['year'])

,title,year,name,type,character,n
840399,The Philadelphia Story,1940.0,Cary Grant,actor,C. K. Dexter Haven,1.0
840397,The Howards of Virginia,1940.0,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940.0,Cary Grant,actor,Walter Burns,1.0
840371,My Favorite Wife,1940.0,Cary Grant,actor,Nick,2.0
840386,Suspicion,1941.0,Cary Grant,actor,Johnnie,1.0
840381,Penny Serenade,1941.0,Cary Grant,actor,Roger Adams,2.0
840401,The Talk of the Town,1942.0,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942.0,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943.0,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943.0,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943.0,Cary Grant,actor,Joe Bascopolous,1.0
840336,Arsenic and Old Lace,1944.0,Cary Grant,actor,Mortimer Brewster,1.0
840378,Once Upon a Time,1944.0,Cary Grant,actor,Jerry Flynn,1.0
840373,None But the Lonely Heart,1944.0,Cary Grant,actor,Ernie Mott,1.0
840351,George White's Scandals,1945.0,Cary Grant,actor,Cary Grant,NaN
840372,Night and Day,1946.0,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946.0,Cary Grant,actor,Devlin,1.0
840415,Without Reservations,1946.0,Cary Grant,actor,Cary Grant,NaN
840393,The Bachelor and the Bobby-Soxer,1947.0,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947.0,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948.0,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948.0,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949.0,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [59]:
roles = cast[cast['year'].between(1950, 1959, inclusive = True)].shape[0]

In [60]:
print("The number of roles available in 1950s were:",roles)

The number of roles available in 1950s were: 137408

### How many roles were available for actresses in the 1950s?

In [61]:
actress_roles_1950s = cast[(cast['year'].between(1950, 1959)) & (cast['type'] == 'actress')]

In [62]:
number_of_roles = actress_roles_1950s['character'].count()

print(f"Number of roles available for actresses in the 1950s: {number_of_roles}")

Number of roles available for actresses in the 1950s: 0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [63]:
leading_roles = cast[(cast['n'] ==1) & (cast['year'].between(1894, 1980, inclusive = True))].shape[0]

In [64]:
print("Number of roles is: ", leading_roles)

Number of roles is:  38187

### How many non-leading roles were available through from the beginning of film history through 1980?

In [65]:
non_leading_roles = cast[(cast['n'] !=1) & (cast['year'].between(1894, 1980, inclusive = True))].shape[0]

In [66]:
print("Number of npn-leading roles is: ", non_leading_roles)

Number of npn-leading roles is:  703017

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [67]:
minor_role = cast[cast['year'].between (1894, 1980, inclusive = True)]

In [68]:
print ("The number of minor roles is:", minor_role['n'].isna().sum())

The number of minor roles is: 299849